 {{template "header" .}}
 <!-- Main Content -->
  <div class="mainContent sixteen columns">
    <center>

    Current in 3rd year Computer Science at the University of Victoria.  
    
    <br>
    <br>
    
    <div class = "slider">

    {{range .}}
	<div><img src="https://d2wyztt7kkorr5.cloudfront.net/photos/{{.}}.jpg" width="850" height="563"></div>
    
    {{end}}

    </div>
    </center>

{{template "footer" .}}
