 {{template "header" .}}
 <!-- Main Content -->
  <div class="mainContent sixteen columns">
    <center>
    <div class = "slider">
	<div><img src="https://d2wyztt7kkorr5.cloudfront.net/photos/mountains.jpg" width="850" height="563" alt="View of mountains in the Lake District, UK"></div>
	<div><img src="https://d2wyztt7kkorr5.cloudfront.net/photos/cloudExplode.jpg" width="850" height="563"  alt="Sunrise view of Mount Abang in Bali"></div>
	<div><img src="https://d2wyztt7kkorr5.cloudfront.net/photos/MRC_1.jpg" width="850" height="563"  alt="Hiking up Ingleburough"></div>
	<div><img src="https://d2wyztt7kkorr5.cloudfront.net/photos/MRC_2.jpg" width="850" height="563" alt="Silhouette of hikers on Ingleburough UK"></div>
	<div><img src="https://d2wyztt7kkorr5.cloudfront.net/photos/MRC_3.jpg" width="850" height="563" alt="Clouds parting over Ingleburough UK as we descend"></div>
	<div><img src="https://d2wyztt7kkorr5.cloudfront.net/photos/MRC_4.jpg" width="850" height="563" alt="Pen-Y-Ghent Mountain in the UK"></div>
    </div>
    </center>

{{template "footer" .}}
